<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="SqlLogMapperMysql">

    <insert id="insertSqlLog">
        INSERT INTO test.log
            (id, db_type, param, url, username, password)
        VALUES(#{id}, #{dbType}, #{param}, #{url}, #{username}, #{password});
    </insert>

</mapper>

