<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ex.dao.SysLogsDao">

    <select id="querySysLogs" resultType="com.ex.entity.Student">
        select * from sys_logs
    </select>

    <insert id="inertSysLogs">
        INSERT INTO test1.sys_logs
        (id,username, operation, `method`, params, `time`, ip, create_time)
        VALUES(#{id},#{username}, #{operation}, #{method},#{params}, #{time}, #{ip}, #{createTime});
    </insert>

    <!--  <sql id="query">
          <where>
              <if test="username!=null and username!=''">
                  username like concat("%",#{username},"%")
              </if>
          </where>
      </sql>


      <select id="findObjectByPage" resultType="com.db.sys.po.SysLog">
          select *
          from sys_logs
          <include refid="query"></include>
          order by createdTime desc
          limit #{startIndex},#{pageSize}
      </select>


      <select id="CountRows" resultType="int">
          select count(*)
          from sys_logs
          <include refid="query"></include>
      </select>-->


</mapper>

